@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Teko:wght@500&display=swap');

main {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #303C6C
}
    footer {
    background-color: #303C6C;
    color: #FCCD04;
}
a:hover, a:active, a:focus {
    color: 303C6C;
    background-color: FFB48F;
    text-decoration: underline;
}
.mainWrapper {
    padding: 5%;
}

aside h2 {
    padding: 2%;
}
/*#region Nav Bar*/
nav ul {
    margin: 0;
}
nav a {
    font-family: 'Oswald', sans-serif;    
}
    nav a {
    font-weight: bold;
    color: #303C6C;
}
    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }
nav ul {
    background-color: #FCCD04;
    padding: 0;
    border-top: 2px solid #19181A;
    border-bottom: 2px solid #19181A;
    border-left: 2px solid #19181A;
    border-right: 2px solid #19181A;
}
nav li:hover {
    background-color: #FFB48F;
}
nav ul li {
    display: inline-block; /*displays the links in a horizonal list line*/
}
    nav ul li a {
        padding: .4em 1em;
        display: block;
    }
    /*#endregion*/
    /*#region Fonts/Text*/    
 header h1, h2 {
    font-family: 'Teko', sans-serif;   
    font-size: 2.2em;
    }
#specialheading {
    font-family: 'Teko', sans-serif;
    font-size: 4em;
    text-align: center;
    margin: 0;
}

h1, h2, footer {
    text-align: center;
}.underline {
     text-decoration: underline;
 }
h3, p {
    font-family: 'Oswald', sans-serif;
}
p {
    font-size: 1.2em;
}
/*#endregion*/
    /*#region header*/
  
header {
    background-color: #A64AC9;
    color: #FeFFFF;
}
#headerOverlay {
    background-image: url(../images/power-button-icon-31.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 3%;
    padding: 1em;
    margin-left:3px;
}
header h1, header p {
    margin: 4px 0 4px 120px;
    text-align: left;
}
/*#endregion*/
body {
    background: url(../images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg) no-repeat center fixed;
    background-size: cover;
    margin: 0;
}#indexpic {
     float: left;
     height: 300px;
     margin-right: 10px;
 }
section.indexpic1 {
    margin: 10px;
    border: 1px solid #17e9e0;
    display: inline-block;
    width: 100%;
    height: 300px;
    padding: 1%;
    text-align: justify;
}
section.indexgallery {
    margin: 10px;
    border: 1px solid #17e9e0;
    display: inline-block;
    width: 100%;
    height: auto;
    padding:1%;
     text-align: justify;   
}

#indexpic2 {
    float: left;
    width:50%;
    height: auto;
    margin-right: 10px;    
}

#indexpic3 {
    float: right;
    width: 50%;
    height: auto;
    margin-left: 10px;   
}

