@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.mainWrapper {    
background-color: rgba(255, 255, 255, 0.9) !important;
    color: #303C6C;
    padding-bottom: 20px;
}
footer {
    background-color: #303C6C;
    color: #FCCD04;
    font-family: 'Roboto Condensed', sans-serif;
        padding:2px;
    margin-top: 25px;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
a:hover, a:active, a:focus {
    color: #303C6C;
    background-color: #FFB48F;
    text-decoration: underline;
}
.mainWrapper {
    padding: 5%;
}

aside h2 {
    padding: 2%;
}
/*#region Nav*/
nav ul {
    margin: 0;
}
nav a {
    font-family: 'Roboto Condensed', sans-serif;
}
    nav a {
    font-weight: bold;
    color: #303C6C;    
   font-size: 1.3em;
}
    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }
nav ul {
    background-color: #FCCD04;
    padding: 0;
    border-top: 2px solid #19181A;
    border-bottom: 2px solid #19181A;
    border-left: 2px solid #19181A;
    border-right: 2px solid #19181A;
}
nav li:hover {
    background-color: #FFB48F;
}
nav ul li {
    display: inline-block; /*displays the links in a horizonal list line*/
}
    nav ul li a {
        padding: .5em 1em;
        display: block;
    }
     /*#endregion*/
    /*#region Fonts/Text*/    
 header h1, h2 {
    font-family: 'Teko', sans-serif;   
    font-size: 2.2em;
    }
#specialheading {
    font-family: 'Teko', sans-serif;
    font-size: 4em;
    text-align: center;
    margin: 0;
}

h1, h2, footer {
    text-align: center;
}#underline {
     text-decoration: underline;
 }
h3, p {
    font-family: 'Roboto Condensed', sans-serif;    
}
h1 {
    font-family: 'Teko', sans-serif;
}
p {
    font-size: 1.2em;
}
/*#endregion*/
/*#region header*/
  
header {
    background-color: #A64AC9;
    color: #FeFFFF;
}
#headerOverlay {
    background-image: url(../images/power-button-icon-31.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 3%;
    padding: 1em;
    margin-left:3px;
}
header h1, header p {
    margin: 4px 0 4px 120px;
    text-align: left;
}
/*#endregion*/
/*#region index styling*/
body {
    background: url(../images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg) no-repeat center fixed;
    background-size: cover;
    margin: 0;
}#indexpic {
     float: left;
     height: 300px;
     margin-right: 10px;
 } 
section.indexpic1 {
    margin: 10px;
    border: 1px solid #17e9e0;
    display: inline-block;
    width: 100%;
    height: 300px;
    padding: 1%;
    text-align: justify;
}
section.indexgallery {
    margin: 10px;
    border: 1px solid #17e9e0;
    display: inline-block;
    width: 100%;
    height: auto;
    padding:1%;
     text-align: justify;   
}

#indexpic2 {
    float: left;
    width:50%;
    height: auto;
    margin-right: 35px;    
}

#indexpic3 {
    float: right;
    width: 50%;
    height: auto;
    margin-left: 35px;   
}
/*#endregion*/

/*#region ClassStyling*/
.rows {
    align-content: center;
    margin: 0 auto;
    width: 80%;
    text-align: center; 
   
}
.classGallery:hover {
    border: 2px solid teal;
    background-color: #EEFFFF;
}
.classGallery {
    margin: 10px;
    border: 1px solid #17e9e0;
    display: inline-block;
    width: 20%;
    height: 500px;
    padding: 1%;
    vertical-align: top;
}
.imagetoprow {
    width: 100%;
    height: auto;   
    align-content:center;
}
.imagebottomrow {
    width: 100%;
    height: auto;  
    align-content:center;
}
/*#endregion*/

/*#region TeamsStyling*/

.teamGallery div {
    width: 25%;
    height: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.teamGallery h2{
    text-align: center;
    padding: 0;
    margin: 0;    
}
.teamPic p {
    margin-top:0;
    padding-top:0;
    text-align:center;
}

.teamGallery img {
    width: 100%;
    height: 80%;
}
.teamDivs:hover {
    border: 2px solid teal;
    background-color: #EEFFFF;
}
/*section.indexpic1 {
    margin: 10px;
    border: 1px solid #17e9e0;
    display: inline-block;
    width: 100%;
    height: 300px;
    padding: 1%;
    text-align: justify;
}*/
.teamDivs {
    margin: 10px;
    border: 1px solid #17e9e0;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 1%;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.9)
}
.teamPic {
    float: left;
    width: 2em; 
}

   
       


/*<a href="#ID" >   this is for my scroll bar on the side*/


/*<section class="teamGallery" > <section class="teamDivs" > <div class="teamPic" >*/

 #cssleftColumn {
    float: left;
    width: 80%   
}
#cssRightColumn {
    float: right;
    width: 16%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 4px;
    margin-top:10px;
    padding: 6px;
    padding-top: 10px;
    border: 1px solid #17e9e0;
}
.aside {
    position: sticky !important;
    top:0;
}


.clear {
    clear: both;

/*#endregion*/   
